<footer class="footer text-muted bg-light">
  <div class="container mx-auto d-flex justify-content-between">
    <span>© <%= Date.today.year %> SmackChat</span>
    <ul class="d-inline list-inline mb-0 float-right">
      <a class="github-button" href="https://github.com/alvindcaesar" data-size="large" aria-label="Follow @alvindcaesar on GitHub">Follow @alvindcaesar</a>
    </ul>
  </div>
</footer>

